@import "compass";

$maxWidth: 1350;

@mixin relativeWidth($width, $minWidth: false, $visualIsVeryWide: false) {
	span {
		display: inline-block;
		width: $width * 100 * 1%;
		position: relative;
		@if $visualIsVeryWide == true {
			margin-left: -(($width * 100) - 100)/2 * 1%;
		}
		// @if $minWidth != false {min-width: $minWidth * 1px;}
	}
	img {
		width: 100%;
		display: inline-block;
	}
	
	width: 100%;
	text-align: center;
	position: absolute;

	@if $minWidth != false {
		img {
			min-width: $minWidth * 1px;
		}

		// min-width: $minWidth * 1px;
		@media only screen and (max-width: $minWidth * 1px) {
			position: absolute;

			img {
				min-width: $minWidth * 1px;
			}
			
			left: 50%;
			margin-left: -($minWidth / 2) * 1px;

			span {
				left: auto;
			}
		}
	}
}


#top {
	background-color: #2b4055; // Old browsers
	@include filter-gradient(#2b4055, #2b4055, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #2b4055 0%, #415366 50%, #2b4055 50%, #2b4055 100%));
	position: fixed;
	top: 0;
	overflow: hidden;
	width: 100%;
	

	padding-top: 90px;
	// position: relative;

	.inner {
		margin: 0 auto;
		// height: 670px;
		width: 100%;
		max-width: $maxWidth + 0px;
		position: relative;
	}

	.noise {
		@include opacity(.5);
	}
}


#shadow {
	background: url(../img/clean/shadow.png) repeat-x bottom;
	position: absolute;
	height: 550px; width: 100%;
	bottom: 0;
	right: 0;
	@include opacity(.7);
}

#graffiti {
	@include relativeWidth(1450 / $maxWidth, 500, true);
	top: -70px;
}

#bricks {
	background: url(../img/background_wall_texture.png) center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#buddha {
	// top: 145px;
	position: relative;
	width: 629px;
	margin: 0 auto;
	max-width: 90%;
	img {
		max-width: 100%;
		margin-bottom: -18%;
	}
}

#spotlights {
	@include relativeWidth(1919 / $maxWidth, false, true);
	bottom: 0;
}

#grain {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/grain.png);
}

#floor {
	@include relativeWidth(1050 / $maxWidth, false, false);
	position: absolute;
	bottom: -65px;
	margin: 0 auto;
}

#floorstuff {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0 auto;
	text-align: center;
	margin-bottom: -5.6%;

	@include relativeWidth(1050 / $maxWidth, 450, false);
	
	img {
		width: 100%;
		max-width: 1154px;
	}
}


#turntable {
	@include relativeWidth(358 / 1050, false, true);
	position: absolute;
	bottom: 234px;
	left: 0;
}