@import "compass";
@import "normalize";
@import "boilerplate-main";

.pointerevents {
	.noise {
		@include opacity(.35);
		pointer-events:none;
		background: url(../img/clean/noise_pattern.png);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
	}

	.noise-container {
		position: relative;
	}
}

@import "typography";

@import "top";
@import "video";
@import "about";
@import "tweets";
@import "footer";

body, html {
	position: relative;
}


.glare {
	position: absolute;
	background: url(../img/clean/gradient-60.png) right repeat-y;
	width: 50%;
	height: 100%;
	top: 0; left: 0;
}